
body{
	margin:0;
}

#header{
	border:1px solid #ccc;
	height:150px;
	background:url("../img/top.png") repeat-x;
	margin:auto;
	position:relative;
}

#header > .top{
	//border:1px solid #ccc;
	height:	70%;
}

#header > .bottom{
	border-top:1px solid #ccc;
	height:	30%;
}

#header > .top > .holder > img{
	width:150px;
	margin:40px 20px;
}


#header > .top > .holder ,
#header > .bottom > .holder{
	position:relative;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;	
	height:	100%;
	width:1100px;
	
	margin:auto;
}

#menu{
	direction:rtl;
	width:100%;
	height:40px;
	line-height:40px;
	font-family:yek;
	text-align:center;
	color:#555;
	position:absolute;
	right:0;
	
	z-index:3;
}

#menu .bg div:hover{
	background:url("../img/up.png") no-repeat 10% 50%;
	color:red;
}	

#menu > .bg > div{
	float:right;
	padding:0 12px 0 35px;
	background:url("../img/down.png") no-repeat 10% 50%;
	cursor:pointer;
	height:40px;
}

#menu > .bg > div:hover > ul{
	display:block;
}

#menu > .bg > div > ul{
	padding:0;
	margin:0;
	list-style:none;
	
	border:1px solid #ccc;
	background:#fff;
	height:43px;
	width:100%;
	
	position:absolute;
	top:41px;
	right:-1px;
	
	display:none;
}

#menu > .bg > div > ul > li{
	float:right;
	color:#555;
	padding:0 20px;
	height:40px;
}

#menu > .bg > div > ul > li:hover{
	color:red;
	border-bottom:3px solid red;
}

#menu > .bg > div > ul > li:hover > ul{
	display:block;
}

#menu > .bg > div > ul > li > ul{
	padding:0;
	margin:0;
	list-style:none;
	
	border:1px solid #ccc;
	background:rgba(255,255,255,0.8);
	height:280px;
	width:100%;
	
	position:absolute;
	top:43px;
	right:-1px;
	
	display:none;
}

/* mob */

#menu.mob{
	position:fixed;
	top:0;
	right:50%;
	transform:translateX(50%);
	background:rgba(0,0,0,.7);
	color:#fff;
	z-index:200;
	width:550px;
}
 
#menu.mob > .bg > div{
	background:none;
	padding:0 18px;
}
 
#menu.mob > .bg > div{
	color:#fff;
}

@media screen and (max-width:1100px){
	#header > .top > .holder ,
	#header > .bottom > .holder{
		width:700px;
	}
}

@media screen and (max-width:700px){
	#header > .top > .holder ,
	#header > .bottom > .holder{
		width:100%;
	}
	
	#menu{
		width:50px;
		height:30px;
		cursor:pointer;
		position:absolute;
		right:10px;
		z-index:10;
	}
	
	#menu:hover{
		height:250px;
		background:none;
	}
	
	#menu span{
		transition:.5s;
		width:100%;
		height:6px;
		margin:5px 0;
		display:block;
		position:relative;
	}
	
	#menu span:nth-child(1):before,
	#menu span:nth-child(3):before{
		content: '';
		position:absolute;
		top:0;
		left:0;
		width:50%;
		height:6px;
		background:red;
		transition-duration:.5s;
		//transition-delay:.5s;
	}
	
	#menu span:nth-child(2):before{
		content: '';
		position:absolute;
		top:0;
		right:0;
		width:100%;
		height:3px;
		background:red;
		transition-duration:.3s;
		transition-delay:.5s;
	}
	
	#menu span:nth-child(2):after{
		content: '';
		position:absolute;
		bottom:0;
		right:0;
		width:100%;
		height:3px;
		background:red;
		transition-duration:.3s;
		transition-delay:.5s;
	}


	#menu span:nth-child(1):after,
	#menu span:nth-child(3):after{
		content: '';
		position:absolute;
		top:0;
		right:0;
		width:50%;
		height:6px;
		background:red;
		transition-duration:.5s;
	}
	
	#menu:hover span{
		//width:400px
	}
	
	#menu:hover span:nth-child(1){
		//transform:rotateZ(90deg) translateY(180px);
	}
	
	#menu:hover span:nth-child(1):before{
		transform:translateX(-20px) rotateZ(90deg);
	}
	
	#menu:hover span:nth-child(1):after{
		transform:translateX(20px) rotateZ(-90deg);
	}
	
	#menu:hover span:nth-child(3){
		//transform:rotateZ(90deg) translateY(120px);
	}
	
	#menu:hover span:nth-child(3):before{
		transform:translateX(-20px) rotateZ(-90deg);
	}
	
	#menu:hover span:nth-child(3):after{
		transform:translateX(20px) rotateZ(90deg);
	}
	
	#menu:hover span:nth-child(2):before{
		transform:translateY(-20px);
	}
	
	#menu:hover span:nth-child(2):after{
		transform:translateY(230px);
	}
	
	#menu .bg{
		background:#555;
		width:100%;
		height:0;
		position:absolute;
		top:-1px;
		left:0;
		overflow:hidden;
		direction:rtl;
	}
	
	#menu:hover .bg{
		animation:bg .5s 1s linear forwards;
	}
	
	#menu .bg div{
		transition:.3s;
		height:30px;
		width:0;
		font-size:13px;
		font-family:yek;
		margin:5px 0;
		line-height:30px;
		text-align:center;
		overflow:hidden;
		padding:0;
		background-image:none;
		float:none;
		color:#fff;
	}
	
	#menu > .bg > div:hover > ul{
		display:none;
	}
	
	#menu .bg div:hover{
		background:#fff;
		font-weight:bold;
		color:red;
	}
	
	#menu:hover .bg div:nth-child(1){
		animation:width .3s 1.3s linear forwards;
	}
	
	#menu:hover .bg div:nth-child(2){
		animation:width .3s 1.4s linear forwards;
	}
	
	#menu:hover .bg div:nth-child(3){
		animation:width .3s 1.5s linear forwards;
	}
	
	#menu:hover .bg div:nth-child(4){
		animation:width .3s 1.6s linear forwards;
	}
	
	#menu:hover .bg div:nth-child(5){
		animation:width .3s 1.7s linear forwards;
	}
	
	#menu:hover .bg div:nth-child(6){
		animation:width .3s 1.8s linear forwards;
	}
	
	#menu:hover .bg div:nth-child(7){
		animation:width .3s 1.9s linear forwards;
	}
	
	@keyframes bg{
		0%{height:0}
		100%{height:250px}
	}
	
	@keyframes width{
		0%{width:0}
		100%{width:100%}
	}
	
	/*mob*/
	#menu.mob{
		position:fixed;
		top:10px;
		right:10px;
		transform:none;
		background:none;
		color:#555;
		z-index:200;
		width:50px;
		height:30px;
		cursor:pointer;
		margin:0 0;
	}
	 
	#menu.mob > .bg > div{
		background:none;
		padding:0 0px;
	}
	 
	#menu.mob > .bg > div:hover{
		color:red;
		background:#fff;
	}
}


















