			.slider{
				overflow:hidden;
				border:1px solid #ccc;
				width:100%;
				height:100%;
				position:relative;
			}
			
			.slider > .gal{
				transition:0.5s;
				position:relative;
				left:0%;
				//border:1px solid red;
				width:500%;
				height:100%;
			}
			
			.slider > .gal > .items{
				width:150px;
				height:100%;
				float:left;
				text-align:center;
				direction:rtl;
				cursor;
			}
			
			.slider > .gal > .items > img{
				width:70%;
				height:auto;
			}
			
			.slider > .gal > .items > h2{
				font-size:18px;
				color:#333;
				border-bottom:10px solid #ddd;
				margin:10px;
				padding-bottom:10px;
				font-weight:500;
				font-family:mj;
			}
			
			.slider > .gal > .items > span{
				font-size:15px;
				color:green;
				font-family:mj;
			}
			
			.slider > .header{
				height:40px;
				font-family:mj;
				direction:rtl;
				background:rgba(247,247,247,1);
				color:green;
				line-height:40px;
				text-indent:10px;
				margin-bottom:10px;
			}
			
			.slider > .right{
				transition:0.5s;
				//border:1px solid red;
				width:40px;
				height:180px;
				position:absolute;
				top:50px;
				right:0px;
				background:url("../img/slider1/right.png") rgba(255,255,255,0.7) 50% 50% no-repeat;
				background-size:70%;
				cursor:pointer;
			}
			
			.slider > .left{
				transition:0.5s;
				//border:1px solid red;
				width:40px;
				height:180px;
				position:absolute;
				top:50px;
				left:0px;
				background:url("../img/slider1/left.png") rgba(255,255,255,0.7) 40% 50% no-repeat;
				background-size:70%;
				cursor:pointer;
			}