
.slider{

	overflow:hidden;

	position:relative;
	
	//border:1px solid #ccc;
	
	//width:600px;
	height:100%;
	
	//margin:100px auto;
}

.slider > .gal{
	
	transition:0.5s;
	
	position:relative;
	left:0;

	border:1px solid #red;
	width:500%;
	height:100%;
}


.slider > .gal > .items{
	width:150px;
	height:100%;
	
	float:left;
	
	margin-top:15px;
	margin-right:10px;
	
	text-align:center;
	direction:rtl;
}

.slider > .gal > .items > img{
	width:65%;
	//height:100%;
}


.slider > .gal > .items > h2{
	font-weight:500;
	font-size:18px;
	
	font-family:tahoma;
	border-bottom:10px solid #ddd;
	padding-bottom:10px;
	margin:10px 2px;
	
}

.slider > .gal > .items > span{
	font-family:tahoma;	
	color:green;
	font-size:14px;
}


.slider > .right{

	transition:0.3s;
	
	position:absolute;
	top:50px;
	right:0px;
	
	//border:1px solid red;
	width:40px;
	height:180px;
	
	
	background:url("../img/slider1/right.png") rgba(255,255,255,0.7) no-repeat 50%;
	background-size:35px;
	
	cursor:pointer;
}



.slider > .left{
	transition:0.3s;

	position:absolute;
	top:50px;
	left:0px;

	border-right:1px solid #ccc;
	width:40px;
	height:180px;
	
	background:url("../img/slider1/left.png") rgba(255,255,255,0.7) no-repeat 50%;
	background-size:35px;
	
	cursor:pointer;	
}

.slider > .header{
	background:rgba(245,245,245,1);
	text-align:right;
	line-height:40px;
	padding-right:20px;
	
	font-family:mj;
	
	color:red;
}

