#slider {
    overflow: hidden;
    position: relative;
    //border:1px solid #ccc;
    //width:600px;
    height: 100%;
    //margin:100px auto;
}

#slider>#gal {
    transition: 0.5s;
    position: relative;
    left: 0;
    border: 1px solid #red;
    width: 500%;
    height: 100%;
}

#slider>#gal>.items {
    width: 20%;
    height: 100%;
    float: left;
}

#slider>#gal>.items>img {
    width: 100%;
    height: 100%;
}

#slider:hover>#gal>.items>p {
    top: -45px;
}

#slider>#gal>.items>p {
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-family: tahoma;
    color: #fff;
    position: relative;
    top: 0px;
}

#slider:hover>#right {
    right: 0px;
}

#slider>#right {
    transition: 0.3s;
    position: absolute;
    top: 80px;
    right: 0px;
    //border:1px solid red;
    width: 60px;
    height: 80px;
    background: url("../img/slider/right.png") no-repeat 50%;
    background-size: 35px;
    cursor: pointer;
}

#slider:hover>#left {
    left: 0px;
}

#slider>#left {
    transition: 0.3s;
    position: absolute;
    top: 80px;
    left: 0px;
    //border:1px solid red;
    width: 60px;
    height: 80px;
    background: url("../img/slider/left.png") no-repeat 50%;
    background-size: 35px;
    cursor: pointer;
}

#slider>#but {
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
    list-style: none;
    height: 40px;
    position: relative;
    top: -40px;
}

#slider>#but>li:hover {
    background: #fff;
    color: #333;
}

#slider>#but>li {
    cursor: pointer;
    float: right;
    width: 20%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: mj;
}

#slider>#slider_btn:hover {
    //transition:0.5s;
    opacity: 1;
}

#slider>#slider_btn {
    width: 200px;
    height: 50px;
    background: #89ff97;
    position: absolute;
    left: 120px;
    top: -57px;
    z-index: 1;
    cursor: pointer;
    border-bottom-right-radius: 50px;
    opacity: 0.5;
    box-shadow: 3px 3px 3px 1px #444;
}

#slider:hover>#slider_btn {
    animation: swing 1.5s ease forwards;
    transform-origin: 0 0;
}

#slider>#slider_btn>div {
    background: #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    box-sizing: border-box;
    border: 5px solid green;
    text-align: center;
    border-radius: 20px;
}

#slider>#slider_btn>div:hover {
    background: #f9313f;
}

#slider>#slider_btn>div:hover>i {
    transition: 0.5s;
    transform: rotateZ(360deg);
    font-size: 35px;
}

#slider>#slider_btn>#pause1 {
    left: 57px;
    transform: rotateZ(90deg);
}

#slider>#slider_btn>#play1 {
    right: 40px;
}

#slider>#slider_btn>#play1>i {
    right: 40px;
    transform: rotateZ(30deg);
}

#slider>#slider_btn>#play1:hover>i {
    transition: 0.5s;
    transform: rotateZ(390deg);
}

#slider>#slider_btn>div>i {
    color: black;
    font-size: 30px;
    line-height: 41px;
}

@keyframes swing {
    0% {
        transform: rotateZ(0deg)
    }
    40% {
        transform: rotateZ(100deg)
    }
    70% {
        transform: rotateZ(85deg)
    }
    100% {
        transform: rotateZ(90deg)
    }
}